mat-toolbar {
    color: white;
  }
  
  mat-toolbar-row {
    background-color: #232C30;
    display: flex;
  }
  
  mat-sidenav {
    position: fixed;
    width: 200px;
    border-right: none;
    background: rgb(71,137,161);
    background: linear-gradient(180deg, rgba(71,137,161,1) 55%, rgba(30,110,139,1) 90%);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
  }
  
  .mat-mdc-icon-button {
    color: #ffffff !important;
  }
  
  
  
  .title-1 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 2;
  }
  
  .title-2 {
    margin-top: 2px;
    margin-left: 5px;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    z-index: 2;
  
  }
  
  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 64px);
    background: #232C30;
    background: rgb(35,35,35);
    background: linear-gradient(180deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 90%, rgb(1, 1, 1) 100%);
  
  
  }
  
  mat-sidenav-content {
    overflow-x: hidden;
    justify-content: center;
    max-width: 100%;
  
  
  
  }
  
  .container {
  
    justify-content: center;
  }
  
  .menu {
    z-index: 990;
    position: relative;
  }
  
  
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  h4 {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .icon {
    color: white;
  }
  
  .a:hover {
    color: blueviolet;
  }
  
  .router-container {
    padding: 30px 60px;
    overflow-y: scroll;
    /* overflow-x: hidden ; */
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(32, 32, 32);
  }
  
  /* customize the scroll bar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  /* customize the scroll bar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* customize the scroll bar width and height */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .notification-mark {
    position: absolute;
    top: 8px;
    right: 9px;
    min-width: 15px;
    height: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  
  .NotificationPopoverstyle {
    width: auto;
    height: 38px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: #002b5c;
    border: 1px solid #002b5c;
    padding: 0px 10px;
    border-radius: 6px;
    outline: 0px;
    cursor: pointer;
    color: #fff;
  }
  
  .btn-container {
    padding: 20px;
  
  }
  
  .notification-container {
    position: relative;
    display: inline-block;
    /* to shrink container to the size of the icon */
  }
  
  .notification-icon {
  
    background: url('/assets/white-buttons/white-notification-bell-icon.png');
    background-size: cover;
    cursor: pointer;
  }
  
  .notification-dot {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: red;
  }
  
  .notification-box {
    right: 0;
    /* start from the right of the page */
    top: 100%;
    /* place box just below the icon */
    width: max-content;
    /* takes as much width as needed for the content */
    max-width: 300px;
    /* or any maximum width you want to set */
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  
  
  .notification-box div {
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }
  
  .notification-box p {
    margin: 0;
  }
  
  .notification-box small {
    display: block;
    color: #666;
    font-size: 80%;
    margin-top: 5px;
  }
  
  .notification-box button {
    display: block;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 1440px),
  (max-height: 900px) {
    .router-container {
      padding:  20px 50px;
    }
  }
  