<div class="container">
  <div class="box">
    <h1 class="title"></h1>
    <div
      class="btn d-flex flex-row align-items-center flex-wrap"
      style="border-color: transparent"
    >
      <button mat-raised-button>
        <img src="../../../../../assets/white-buttons/admin-forms.png" />
        <p>User Management</p>
      </button>

      <button mat-raised-button>
        <img src="../../../../../assets/white-buttons/rate-log.png" />
        <p>Rate Logs</p>
      </button>

      <button mat-raised-button>
        <img src="../../../../../assets/white-buttons/new-sales-brief.png" />
        <p>New Sales Brief</p>
      </button>

      <button mat-raised-button>
        <img src="../../../../../assets/white-buttons/all-brief.png" />
        <p>Ready Briefs</p>
      </button>
      
    </div>
  </div>
</div>
