<div class="account">
  <!-- <h4>{{ userName }}</h4>
    <H5>{{ userRole}} </H5> -->
  <p class="designation"></p>
</div>

<div>
  <button mat-button class="menu-button" routerLink="main">
    <mat-icon>home</mat-icon>
    <span>Dashboard</span>
  </button>
</div>

<div>
  <button mat-button class="menu-button" routerLink="portfolio">
    <mat-icon>chrome_reader_mode</mat-icon>
    <span>Portfolio</span>
  </button>
</div>

<div>
  <button mat-button class="menu-button" routerLink="trades">
    <mat-icon>supervisor_account</mat-icon>
    <span> Trades </span>
  </button>
</div>

<button mat-button class="menu-button" routerLink="riskMetric">
  <mat-icon>assignment</mat-icon>
  <span> Risk Metric </span>
</button>

<div>
  <button mat-button class="menu-button">
    <mat-icon>assignment</mat-icon>
    <span>Register User</span>
  </button>
</div>

<div>
  <button mat-button class="menu-button" routerLink="order">
    <mat-icon>assignment</mat-icon>
    <span>Order</span>
  </button>
</div>

<div>
  <button mat-button class="menu-button">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
</div>
