.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

.form-wrapper {
    background-color: white;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Optional: add border-radius for rounded corners */
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjust width as needed */
    color: white;
}

mat-form-field {
    flex: 1;
    margin-right: 10px;
}

button {
    flex: 1;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
