.form-container {
    gap: 25px;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background: rgb(26,29,31);
    background: radial-gradient(circle, rgba(26,29,31,1) 0%, rgba(0,0,0,1) 35%, rgba(71,137,161,1) 60%, rgba(75,183,222,1) 90%);
  
      /* linear-gradient(135deg, #10746f 0%, #254776 100%) */;
    background-size: cover;
    background-repeat: no-repeat;
   
  
  }
  
  .navbar {
    position: fixed;
    padding: 15px;
  }
  
  .navbar img {
    width: 60px;
    height: 50px;
    cursor: pointer;
  }
  
  mat-form-field {
    width: 100%;
   
    margin-bottom: 20px;
    
  }
  
  button {
    width: 100%;
   
    margin-bottom: 20px;
    background-color: #3fb545;
    color: #fff;
  }
  
  .logo {
    font-size: 10vh;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 6%;
    color: white;
    display: flex;
    flex-direction: row;
  }
  
  #portal {
    font-size: 7vh;
    padding-top: 10px;
    padding-left: 20px;
    align-self:flex-start;
    font-weight: 100;
  }
  
  
  
  .logo p {
    color:  rgb(255, 255, 255);
    
  }
  
  form {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 20px;
    width: 20%;
    -webkit-animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) 0.5s both;
      animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) 0.5s both;
  }
  
  @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
  
  .mdc-text-field__input {
    color: white!important;
  }
  
  @media (max-width: 1400px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 10vh;
    }
  }
  
  @media (max-width: 1200px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 10vh;
    }
  }
  
  @media (max-width: 1000px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 9vh;
    }
  }
  
  @media (max-width: 900px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 7vh;
    }
  }
  
  @media (max-width: 800px) {
  
    form {
      width: auto;
      transform: scale(0.8);
    }
    .logo {
      width: 100%;
      height: 100%;
      font-size: 8vh;
    }
  }
  
  @media (max-width: 700px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 5vh;
    }
  }
  
  @media (max-width: 600px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 5vh;
    }
  }
  
  @media (max-width: 500px) {
    .logo {
      width: 100%;
      height: 100%;
      font-size: 5vh;
    }
  }
  
  @media (max-width: 400px) {
    
    #portal {
      font-size: 3vh;
      padding-left: 8px;
      align-self:flex-start;
      font-weight: 100;
    }
  
    .logo {
      width: 100%;
      height: 100%;
      font-size: 5vh;
    }
  }
  
  mat-label {
    color: rgb(0, 0, 0);
    
  }
  
   
  .mdc-text-field__input {
    color: rgba(0, 0, 0, 0.87)!important;
  }
  
  
  
  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: rgb(1, 156, 1);
  }
  mat-toolbar {
    background-color: transparent;
    font-size: 60px;
    padding-bottom: 20%;
  }
  