<!-- <div class="form-container"> -->
  <div class="navbar">
    <img  routerLinkActive="active" routerLink="/welcome" src="../../../assets/images/logo1.jpg">
  </div>

  <div class="form-container">
    <div class="row">
      <div>
        <h1 class="logo"><p>ITP |</p><h1 id="portal">Portal</h1></h1>
      </div>
    </div>
  <!-- </div> -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <mat-form-field  appearance="outline">
      <mat-label>Email</mat-label>
      <input
      class="mdc-text-field__input"
        matInput
        type="email"
        formControlName="email"
        name="email"
        autocomplete="off"
        required
      />
      <mat-error
        *ngIf="
          loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched
        "
      >
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        name="password"
        autocomplete="off"
        required
      />
      <mat-error
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        Please enter a valid password.
      </mat-error>
    </mat-form-field>

    <!-- <button
      mat-raised-button
      style="max-width: 50%"
      color="primary"
      routerLink="/home/main/editProfile"
      >Change Password</button> -->

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</div>
